// Define variables for your color scheme

// For example:

$blue: #167FFB;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Official colors :
$sublime-gray: #444444;
$sublime-darkgray: #23241E;
$yellow: #EDA637;
$black: black;
$red: #f12117;
$white: white;
$lightblue: #57afff;
$lightred: #ff4138;
$darkblue: #0F217C;
