.game  {
  position: relative;
}

.game p {
  width: 530px;
}

.play {
  display:flex;
  align-items: center;
}

.game .game-view .mountain img {
  width:100%;
}

.mountain {
  position:relative;
}

.blur {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.gametype {
  width: 40px;
  height: 40px;
  margin-right:10px;
}
.game-logo img {
  width:80px;
  height:80px;
}

.game-index {
  max-width:900px;
}
