.big-card {
  background: $white;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom:10px;
  height: 140px;
}

.card-done {
  background-color: rgba(255,255,255,0.6);
  color:$lightblue;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom:10px;
  height: 140px;
}





.check {
  font-size: 50px;
  color: $lightblue;

}

.big-card:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  outline: 2px solid $red;
}

.small-card {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.container-job{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row-jobs{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  align-items: center;

}


.card-jobs {
  background:    $white;
  box-shadow:    0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  height:        320px;
  padding:       20px;
}

.title{
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
}


.card-job-show{
  display:flex;
  position: left;
  justify-content: left;
  letter-spacing: 1px;
  font-size: 20px;
  font-family: arial;
  text-align: justify;
  margin:0 auto;

}

.presentation-job{
  grid-column:1;
  text-align: center;
}

.margin-card {
  margin-bottom: 20px;
}

